<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/logo.jpg" />
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label stacked>Número de Cédula</ion-label>
    <ion-input type="number" [(ngModel)]="cedula"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Código</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <div padding>
    <button (click)="inciarSesion()" ion-button block>Login</button>
  </div>
  <ion-footer no-border style="text-align: center;">
    <ion-toolbar>
      <small>Versión 2.6</small>
    </ion-toolbar>
  </ion-footer>
</ion-content>