<ion-content padding text-center>

  <img src="assets/imgs/alistamiento.png" class="slide-image" />
  <h5 class="slide-title">No se ha realizado el alistamiento de este vehículo </h5>
  <p><b>Conductor :</b> {{conductor.em_nombre}} </p>
  <p><b>Vehículo :</b> {{modelAlistamiento.al_movil}} </p>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col col-md-6>

        <button ion-button icon-start color="danger" (click)="cancelar()">
          <ion-icon name="arrow-back"></ion-icon>
          Cancelar
        </button>
      </ion-col>
      <ion-col col-md-6>
        <button ion-button xs icon-end color="success" (click)="realizarAlistamiento()">
          Continuar
          <ion-icon name="arrow-forward"></ion-icon>
        </button>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>