
.toolbar-background {
    background: #fff;
    border-color: transparent;
}

    

.slide-image {
    max-height: 40%;
    max-width: 50%;
    margin: 18px 0;
}

b {
    font-weight: 500;
}

p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
        color: #000000;
    }
}
