<ion-content>
  <ion-navbar>
    <ion-title>Recorridos del día</ion-title>
  </ion-navbar>

  <ion-card *ngFor="let ruta of rutas">
    <ion-item>
      <ion-icon name="navigate" item-start large></ion-icon>

      <h2>{{ ruta.value.dp_fr_nombre }}</h2>
      <p>Ruta : {{ ruta.value.dp_ru_nombre }}</p>
      <p>
        Horario : {{ ruta.value.dp_hinicio | slice: 10:16 }} /
        {{ ruta.value.dp_hfinal | slice: 10:16 }}
      </p>
    </ion-item>
    <ion-row>
      <ion-col>
        <button
          ion-button
          full
          small
          [disabled]="ruta.value.disableButtonInciado == 1"
          (click)="iniciarTareaDia(ruta)"
          color="secondary"
        >
          INICIAR
        </button>
      </ion-col>
      <ion-col>
        <button
          ion-button
          full
          small
          [disabled]="ruta.value.disableButtonFinlizado"
          (click)="finalizarTareaDia(ruta)"
          color="danger"
        >
          FINALIZAR
        </button>
      </ion-col>
      <ion-col [hidden]="ruta.value.mapa == null">
        <button
          ion-button
          full
          small
          color="drak"
          (click)="mostrarMapa(ruta.value.mapa)"
        >
          <ion-icon name="map" class="mapa"></ion-icon> Mapa
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
