

.container-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item-alistamiento{
        width: 50%;
        margin-top: 30px;
        text-align: center;
        
        .texto{
            font-weight: bold;
        }
        .icono{
            border:7px solid #cacaca;
            padding: 5px;
            background: #519123;
            color:#fff;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


