<!--
  Generated template for the AlistamientoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Alistamiento Diario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label stacked>Conductor</ion-label>
    <ion-label>{{usuario.em_nombre}}</ion-label>
  </ion-item>

  <ion-grid no-padding>

    <ion-row>
      <ion-col col-md-5>
        <ion-item>
          <ion-label stacked>Móvil</ion-label>
          <ion-label>{{modelAlistamiento.al_movil}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col col-md-5>
        <ion-item>
          <ion-label stacked>Fecha</ion-label>
          <ion-label>{{modelAlistamiento.al_fecha}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="container-items">

    <div class="item-alistamiento" (click)="verificarModulo('documentos')">
      <div class="icono">
        <i class="fa fa-file fa-3x " aria-hidden="true"></i>
      </div>
      <div class="texto">
        <p>{{completoDocumento}}/{{itemsDocumentos.length}}</p>
        Documentos

      </div>
    </div>

    <div class="item-alistamiento" (click)="verificarModulo('nivel_fugas')">
      <div class="icono">
        <i class="fa fa-tint fa-3x " aria-hidden="true"></i>
      </div>
      <div class="texto">
        <p>{{completoNivel}}/{{itemNivelFugas.length}}</p>
        Nivel y Fugas
      </div>
    </div>

    <div class="item-alistamiento" (click)="verificarModulo('mecanico_electrico')">
      <div class="icono">
        <i class="fa fa-bolt fa-3x " aria-hidden="true"></i>
      </div>
      <div class="texto">
        <p>{{completoMecanico}}/{{itemsMecanico.length}}</p>
        Mécanico y Electrico
      </div>
    </div>

    <div class="item-alistamiento" (click)="verificarModulo('equipo')">
      <div class="icono">
        <i class="fa fa-fire-extinguisher fa-3x " aria-hidden="true"></i>
      </div>
      <div class="texto">
        <p>{{completoEquipo}}/{{itemsEquipo.length}}</p>
        Equipo
      </div>
    </div>

    <div class="item-alistamiento" (click)="verificarModulo('llantas')">
      <div class="icono">
        <i class="fa fa-car fa-3x " aria-hidden="true"></i>
      </div>
      <div class="texto">
        <p>{{completoLlantas}}/{{itemsLlantas.length}}</p>
        llantas
      </div>
    </div>

    <div class="item-alistamiento" (click)="verificarModulo('carretera')">
      <div class="icono">
        <i class="fa fa-road  fa-3x " aria-hidden="true"></i>
      </div>
      <div class="texto">
        <p>{{completoCarretera}}/{{itemsCarretera.length}}</p>
        Equipo de carretera, propiedad del vehículo
      </div>
    </div>

    <div class="item-alistamiento" (click)="verificarModulo('herramienta')">
      <div class="icono">
        <i class="fa fa-gears fa-3x " aria-hidden="true"></i>
      </div>
      <div class="texto">
        <p>{{completoHerramienta}}/{{itemsHerramienta.length}}</p>
        Herramienta basica de propiedad del conductor
      </div>
    </div>

    <button mt-3 [(disabled)]="load" ion-button block xs icon-end color="success" (click)="terminarAlistamiento()">
      Terminar
      <ion-icon name="arrow-forward" *ngIf="!load"></ion-icon>
      <ion-spinner name="circles" color="light" *ngIf="load"></ion-spinner>

    </button>


  </div>


</ion-content>