<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-navbar>
    <ion-title>Mapa del Recorrido</ion-title>
  </ion-navbar>
  <div
    #frame
    style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important"
  >
    <iframe [src]="MapaUrl" class="iframe" scrolling="yes"></iframe>
  </div>
</ion-content>
