<!--
  Generated template for the MensajesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Mensajes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Destinatario</ion-label>
      <ionic-selectable
        item-content
        [(ngModel)]="port"
        itemTextField="us_nombre"
        itemValueField="us_id"
        [items]="destinatarios"
        [canSearch]="true"
        (onChange)="destinatarioChange($event)"
      >
      </ionic-selectable>

      <!--<ionic-selectable
        modalCssClass="letrapq"
        item-content
        [(ngModel)]="destino"
        itemValueField="us_id"
        itemTextField="us_nombre"
        [items]="destinatarios"
      >
      </ionic-selectable>-->
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Mensaje</ion-label>
      <ion-textarea rows="3" [(ngModel)]="mensaje"></ion-textarea>
    </ion-item>
    <button ion-button full (click)="enviar()">Enviar Mensaje</button>
  </ion-list>

  <ion-list>
    <ion-list-header class="item item-ios list-header list-header-ios">
      Mensajes Pendientes
    </ion-list-header>

    <ion-card *ngFor="let mensaje of listaMensajes">
      <div *ngIf="mensaje.nm_estado == 'ENVIADO'">
        <ion-item>
          <ion-avatar item-start>
            <ion-icon style="zoom:2.0;" name="person"></ion-icon>
          </ion-avatar>
          <h2>{{ mensaje.us_nombre }}</h2>
          <p>{{ mensaje.nm_fecha }}</p>
        </ion-item>

        <ion-card-content>
          <p>{{ mensaje.nm_mensaje }}</p>
        </ion-card-content>

        <ion-row>
          <ion-col>
            <button
              (click)="responderMensajeBtn('RECIBIDO', mensaje)"
              ion-button
              icon-start
              no-margin
              block
              color="primary"
            >
              <ion-icon name="text"></ion-icon>
              Recibido
            </button>
          </ion-col>
          <ion-col>
            <button
              (click)="responderMensajeBtn('CONFIRMADO', mensaje)"
              ion-button
              icon-start
              no-margin
              block
              color="success"
            >
              <ion-icon name="close"></ion-icon>
              Confirmar
            </button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
