<!--
  Generated template for the RevisionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>revision</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="modulo == 'documentos'">
    <div *ngFor="let item of itemsDocumentos">
      <ion-card>
        <ion-row no-padding radio-group [(ngModel)]="alistamientoModel[item.campo]">
          <ion-col>
            {{ item.nombre }}
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label *ngIf="alistamientoModel[item.campo] == 1">Vigente</ion-label>
              <ion-label *ngIf="alistamientoModel[item.campo] != 1">Vencido</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>

      <!--<ion-select interface="action-sheet"  (ionChange)="consola($event,item.campo)" >
        <ion-option *ngFor="let opcion of opciones"   value="{{opcion.valor }}">{{opcion.nombre }}</ion-option>
      </ion-select>
      -->
    </div>
    <!-- Icons -->
    <button ion-button icon-start block (click)="cancelar()">
      <ion-icon class="fa fa-check"></ion-icon>
      Siguiente
    </button>
  </div>
  <div *ngIf="modulo == 'nivel_fugas'">
    <div *ngFor="let item of itemNivelFugas">
      <ion-card>
        <ion-row no-padding radio-group [(ngModel)]="alistamientoModel[item.campo]">
          <ion-col>
            {{ item.nombre }}
          </ion-col>
          <ion-col *ngFor="let opcion of opciones2">
            <ion-item>
              <ion-label>{{ opcion.valor }}</ion-label>
              <ion-radio value="{{ opcion.valor }}"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <!-- Icons -->
    <button ion-button icon-start block (click)="cancelar()">
      <ion-icon class="fa fa-check"></ion-icon>
      Siguiente
    </button>
  </div>
  <div *ngIf="modulo == 'mecanico_electrico'">
    <div *ngFor="let item of itemsMecanico">
      <ion-card>
        <ion-row no-padding radio-group [(ngModel)]="alistamientoModel[item.campo]">
          <ion-col>
            {{ item.nombre }}
          </ion-col>
          <ion-col *ngFor="let opcion of opciones2">
            <ion-item>
              <ion-label>{{ opcion.valor }}</ion-label>
              <ion-radio value="{{ opcion.valor }}"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <!-- Icons -->
    <button ion-button icon-start block (click)="cancelar()">
      <ion-icon class="fa fa-check"></ion-icon>
      Siguiente
    </button>
  </div>

  <div *ngIf="modulo == 'equipo'">
    <div *ngFor="let item of itemsEquipo">
      <ion-card>
        <ion-row no-padding radio-group [(ngModel)]="alistamientoModel[item.campo]">
          <ion-col>
            {{ item.nombre }}
          </ion-col>
          <ion-col *ngFor="let opcion of opciones3">
            <ion-item>
              <ion-label>{{ opcion.nombre }}</ion-label>
              <ion-radio value="{{ opcion.valor }}"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <!-- Icons -->
    <button ion-button icon-start block (click)="cancelar()">
      <ion-icon class="fa fa-check"></ion-icon>
      Siguiente
    </button>
  </div>
  <div *ngIf="modulo == 'llantas'">
    <div *ngFor="let item of itemsLlantas">
      <ion-card>
        <ion-row no-padding radio-group [(ngModel)]="alistamientoModel[item.campo]">
          <ion-col>
            {{ item.nombre }}
          </ion-col>
          <ion-col *ngFor="let opcion of opciones2">
            <ion-item>
              <ion-label>{{ opcion.valor }}</ion-label>
              <ion-radio value="{{ opcion.valor }}"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <!-- Icons -->
    <button ion-button icon-start block (click)="cancelar()">
      <ion-icon class="fa fa-check"></ion-icon>
      Siguiente
    </button>
  </div>
  <div *ngIf="modulo == 'carretera'">
    <div *ngFor="let item of itemsCarretera">
      <ion-card>
        <ion-row no-padding radio-group [(ngModel)]="alistamientoModel[item.campo]">
          <ion-col>
            {{ item.nombre }}
          </ion-col>
          <ion-col *ngFor="let opcion of opciones3" col-3>
            <ion-item>
              <ion-label>{{ opcion.nombre }}</ion-label>
              <ion-radio value="{{ opcion.valor }}"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <!-- Icons -->
    <button ion-button icon-start block (click)="cancelar()">
      <ion-icon class="fa fa-check"></ion-icon>
      Siguiente
    </button>
  </div>
  <div *ngIf="modulo == 'herramienta'">
    <div *ngFor="let item of itemsHerramienta">
      <ion-card>
        <ion-row no-padding radio-group [(ngModel)]="alistamientoModel[item.campo]">
          <ion-col col-3>
            {{ item.nombre }}
          </ion-col>
          <ion-col *ngFor="let opcion of opciones3" col-3 p-0>
            <ion-item p-0>
              <ion-label>{{ opcion.nombre }}</ion-label>
              <ion-radio value="{{ opcion.valor }}"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <!-- Icons -->
    <button ion-button icon-start block color="success" (click)="cancelar()">
      <ion-icon class="fa fa-check"></ion-icon>
      Siguiente
    </button>
  </div>
</ion-content>