<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/logo.jpg" />
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()" color="royal">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab
      tabIcon="calendar"
      tabTitle="Tareas Diarias"
      [root]="TabRootVehiculo"
    ></ion-tab>
    <ion-tab
      tabIcon="chatbubbles"
      tabTitle="Mensajes"
      [root]="TabRootMensajes"
    ></ion-tab>

    <!--<ion-tab tabIcon="map" tabTitle="Rutas" [root]="TabRootMapa"></ion-tab>-->
  </ion-tabs>
</ion-content>
