<!--
  Generated template for the VehiculosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  <ion-header>
    <ion-navbar>
      <ion-title>Seleccionar Vehículos</ion-title>
      
      <ion-buttons end>
        <button ion-button icon-only color="royal">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
-->

<ion-content>
  <ion-navbar>
    <ion-title>Seleccionar Vehículos</ion-title>
  </ion-navbar>

  <ion-card *ngIf=" items.length == 0">
    <ion-card-content>
      No se encontraron los resultados.
    </ion-card-content>
  </ion-card>


  <ion-list *ngIf=" items.length > 0">
    <ion-list-header>
      No. de Móvil
    </ion-list-header>
    <ion-item *ngFor="let vehiculo of items" (click)="cargarRutas(vehiculo)">
      <ion-icon name="bus" item-start></ion-icon>
      Móvil -> {{vehiculo.dp_vehiculo}}
    </ion-item>
  </ion-list>

</ion-content>